{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About DevExchange</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../static/favicon.ico" >
    {% tailwind_css %}
</head>
<body class="bg-gray-100 text-gray-800">

    <!-- Navbar -->
    <div class="bg-white">
        <header class="absolute inset-x-0 top-0 z-50">
            <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
                <div class="flex lg:flex-1">
                    <a href="{% url 'stackbase:home' %}" class="-m-1.5 p-1.5">
                        <span class="sr-only">DevExchange</span>
                        <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
                    </a>
                </div>
                <div class="flex lg:hidden">
                    <button onclick="handleMenuOpen()" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                        <span class="sr-only">Open main menu</span>
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                    </button>
                </div>
                <div class="hidden lg:flex lg:gap-x-12">
                    <a href="{% url "stackbase:home" %}" class="text-sm font-semibold leading-6 text-gray-900">Home</a>
                    <a href="{% url "stackbase:questionList" %}" class="text-sm font-semibold leading-6 text-gray-900">Questions</a>
                    <a href="{% url "register" %}" class="text-sm font-semibold leading-6 text-gray-900">Register</a>
                </div>
                <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                    {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="text-sm font-semibold leading-6 text-gray-900 mr-4">Profile</a>
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="text-sm font-semibold leading-6 text-gray-900">Logout <span aria-hidden="true">&rarr;</span></button>
                    </form>
                    {% else %}
                    <a href="{% url "login" %}" class="text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
                    {% endif %}
                </div>
            </nav>
            <!-- Mobile menu, show/hide based on menu open state. -->
            <div class="lg:hidden" role="dialog" aria-modal="true" id="mobile-menu">
                <!-- Background backdrop, show/hide based on slide-over state. -->
                <div class="fixed inset-0 z-50"></div>
                <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto  bg-gray-500 backdrop-filter backdrop-blur-sm bg-opacity-60 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                    <div class="flex items-center justify-between">
                        <a href="{% url 'stackbase:home' %}" class="-m-1.5 p-1.5">
                            <span class="sr-only">DevExchange</span>
                            <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
                        </a>
                        <button onclick="handleMenuClose()" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                            <span class="sr-only">Close menu</span>
                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                    <div class="mt-6 flow-root">
                        <div class="-my-6 divide-y divide-gray-500/10">
                            <div class="space-y-2 py-6">
                                <a href="{% url "stackbase:home" %}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Home</a>
                                <a href="{% url "stackbase:questionList" %}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Questions</a>
                                <a href="{% url "register" %}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Register</a>
                            </div>
                            <div class="py-6">
                                {% if user.is_authenticated %}
                                <a href="{% url 'profile' %}" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Profile</a>
                                <form method="POST" action="{% url 'logout' %}" class="inline">
                                    {% csrf_token %}
                                    <button type="submit" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">
                                        Log out
                                    </button>
                                </form>
                                {% else %}
                                <a href="{% url "login" %}" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log in</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Hero Section -->
        <div class="relative isolate px-6 pt-1 lg:px-8">
            <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
                <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
            <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
                <div class="pb-10 sm:mb-8 sm:flex sm:justify-center">
                    <div class="relative text-center rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                        Built with Passion and Love.
                    </div>
                </div>
                <div class="text-center">
                    <h1 class="text-5xl font-bold tracking-tight text-gray-900 sm:text-6xl">We Are Glad You Asked</h1>
                    <p class="mt-6 text-lg leading-8 text-gray-600">Discover what makes DevExchange a unique platform for developers.</p>
                    <div class="mt-10 flex items-center justify-center gap-x-6">
                        <a href="https://github.com/WatashiwaSid/devexchange-django" target="_blank" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Read Documentation</a>
                    </div>
                </div>
            </div>
            <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
                <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
        </div>
    </div>

    <!-- About Section -->
    <div class="bg-white py-16">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="text-center lg:text-center">
                <h2 class="text-base text-center text-indigo-600 font-semibold tracking-wide uppercase">About DevExchange</h2>
                <p class="mt-2 pt-4 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
                    Your Go-To Platform for Developer Collaboration
                </p>
                <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
                    DevExchange is more than just a Q&A site for programmers. It's a thriving community where developers can connect, share knowledge, and help each other grow.
                </p>
            </div>

            <div class="mt-14">
                <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
                    <div class="relative">
                        <dt>
                            <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                                <!-- Heroicon name: outline/light-bulb -->
                                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 18h2M12 2a7 7 0 017 7c0 2.49-.76 3.9-1.63 4.94a7.998 7.998 0 01-2.37 1.93A2.5 2.5 0 0012 16.5V18m0-16a7 7 0 00-7 7c0 2.49.76 3.9 1.63 4.94a7.998 7.998 0 002.37 1.93A2.5 2.5 0 0012 16.5V18"></path>
                                </svg>
                            </div>
                            <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Innovative Solutions</p>
                        </dt>
                        <dd class="mt-2 ml-16 text-base text-gray-500">
                            We constantly strive to bring new and innovative solutions to the challenges faced by developers around the world.
                        </dd>
                    </div>

                    <div class="relative">
                        <dt>
                            <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                                <!-- Heroicon name: outline/globe-alt -->
                                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12.79a9 9 0 11-9-9v9h9z"></path>
                                </svg>
                            </div>
                            <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Global Community</p>
                        </dt>
                        <dd class="mt-2 ml-16 text-base text-gray-500">
                            Join a diverse community of developers from around the globe, eager to share insights and collaborate on projects.
                        </dd>
                    </div>

                    <div class="relative">
                        <dt>
                            <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                                <!-- Heroicon name: outline/shield-check -->
                                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m1-4.414A8.968 8.968 0 0121 12c0 4.475-3.246 8.197-7.45 8.928a8.968 8.968 0 01-7.546-.333A9.001 9.001 0 012 12c0-3.156 1.636-5.903 4.124-7.509M12 4V2m0 20v-2"></path>
                                </svg>
                            </div>
                            <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Secure Platform</p>
                        </dt>
                        <dd class="mt-2 ml-16 text-base text-gray-500">
                            We prioritize security and privacy, ensuring your data is protected while you engage in vibrant discussions.
                        </dd>
                    </div>

                    <div class="relative">
                        <dt>
                            <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                                <!-- Heroicon name: outline/heart -->
                                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8.664a6.503 6.503 0 0111.826-4.056A6.503 6.503 0 0112 13.287L12 21l-.177-.012A6.5 6.5 0 013 8.664z"></path>
                                </svg>
                            </div>
                            <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Passionate Community</p>
                        </dt>
                        <dd class="mt-2 ml-16 text-base text-gray-500">
                            Be part of a passionate community that loves to code, share, and help each other learn and grow.
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
    <footer class="bg-indigo-700 text-gray-300 py-12">
        <div class="text-center max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="text-center relative flex justify-evenly">
                <div class="underline"><a href="https://github.com/WatashiwaSid/devexchange-django" target="_blank">Docs</a></div>
                <div class="underline"><a href="{% url 'stackbase:home' %}">Home</a></div>
                <div class="underline">About</div>
            </div>
            <div class="mt-6 border-t border-indigo-700 pt-8 flex flex-col md:flex-row md:justify-between md:items-center">
                <p class="text-center text-base text-gray-300">
                    © 2024 DevExchange. All rights reserved.
                </p>
                <div class="flex justify-center space-x-6 mt-4 md:mt-0">
                    <a href="https://x.com/WatashiwaSid" class="text-gray-300 hover:text-white">
                        <span class="sr-only">Twitter</span>
                        <!-- Heroicon name: outline/twitter -->
                        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                        </svg>
                    </a>
                    <a href="https://github.com/WatashiwaSid/" class="text-gray-300 hover:text-white">
                        <span class="sr-only">GitHub</span>
                        <!-- Heroicon name: outline/github -->
                        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path fill-rule="evenodd" d="M12 2a10 10 0 00-3.16 19.46c.5.1.68-.22.68-.48v-1.7c-2.78.6-3.37-1.34-3.37-1.34-.45-1.14-1.12-1.44-1.12-1.44-.91-.62.07-.61.07-.61 1.01.07 1.54 1.04 1.54 1.04.9 1.54 2.36 1.1 2.93.84.1-.66.35-1.1.64-1.35-2.22-.25-4.55-1.1-4.55-4.89 0-1.08.39-1.97 1.03-2.66-.1-.25-.45-1.26.1-2.64 0 0 .84-.27 2.75 1.03a9.54 9.54 0 015 0c1.9-1.3 2.74-1.03 2.74-1.03.56 1.38.21 2.39.1 2.64.64.69 1.03 1.58 1.03 2.66 0 3.8-2.34 4.64-4.56 4.88.35.3.68.91.68 1.83v2.7c0 .27.17.59.68.48A10 10 0 0012 2z" clip-rule="evenodd"></path>
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/in/comicsid" class="text-gray-300 hover:text-white">
                        <span class="sr-only">LinkedIn</span>
                        <!-- Heroicon name: outline/linkedin -->
                        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path fill-rule="evenodd" d="M19 0H5C2.2 0 0 2.2 0 5v14c0 2.8 2.2 5 5 5h14c2.8 0 5-2.2 5-5V5c0-2.8-2.2-5-5-5zM7.8 18.6H4.4V8.7h3.4v9.9zm-1.7-11c-1.1 0-1.9-.8-1.9-1.8s.8-1.8 1.9-1.8 1.9.8 1.9 1.8c0 1-.9 1.8-1.9 1.8zm13.6 11H16V13c0-1.4-.3-2.4-2.1-2.4s-2.4 1.2-2.4 2.5v6.4H8.4v-9.9h3.3v1.4c.5-.8 1.6-1.9 3.3-1.9 2.5 0 4.4 1.6 4.4 5.1v6.3z" clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    
</body>
<script>
    function handleMenuOpen() {
         document.getElementById('mobile-menu').classList.remove('hidden');
       }

       function handleMenuClose() {
         document.getElementById('mobile-menu').classList.add('hidden');
       }
</script>
</html>
